In [3]:
import pandas as pd
import numpy as np
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from keras import Sequential
from keras.layers import Dense, Input
from keras.initializers import he_normal, glorot_normal

In [4]:
dataset = pd.read_csv('bankloan.csv')
dataset

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0.0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3.0,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1.0,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2.0,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0.0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [5]:
dataset = dataset.dropna()
dataset

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2.0,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0.0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3.0,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1.0,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2.0,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0.0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [6]:
dataset.isna().any()

Loan_ID              False
Gender               False
Married              False
Dependents           False
Education            False
Self_Employed        False
ApplicantIncome      False
CoapplicantIncome    False
LoanAmount           False
Loan_Amount_Term     False
Credit_History       False
Property_Area        False
Loan_Status          False
dtype: bool

In [7]:
dataset = dataset.drop(columns= 'Loan_ID')
dataset

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,Male,Yes,2.0,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0.0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3.0,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1.0,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2.0,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0.0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [8]:
dataset['LoanAmount'] = (dataset['LoanAmount'] * 1000).astype(int)
dataset

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,Male,Yes,1.0,Graduate,No,4583,1508.0,128000,360.0,1.0,Rural,N
2,Male,Yes,0.0,Graduate,Yes,3000,0.0,66000,360.0,1.0,Urban,Y
3,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120000,360.0,1.0,Urban,Y
4,Male,No,0.0,Graduate,No,6000,0.0,141000,360.0,1.0,Urban,Y
5,Male,Yes,2.0,Graduate,Yes,5417,4196.0,267000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0.0,Graduate,No,2900,0.0,71000,360.0,1.0,Rural,Y
610,Male,Yes,3.0,Graduate,No,4106,0.0,40000,180.0,1.0,Rural,Y
611,Male,Yes,1.0,Graduate,No,8072,240.0,253000,360.0,1.0,Urban,Y
612,Male,Yes,2.0,Graduate,No,7583,0.0,187000,360.0,1.0,Urban,Y
613,Female,No,0.0,Graduate,Yes,4583,0.0,133000,360.0,0.0,Semiurban,N

In [9]:
dataset['Loan_Status'].value_counts()

Loan_Status
Y    332
N    148
Name: count, dtype: int64

Labelling Words with 1 and 0 s

In [10]:
pre_y = dataset['Loan_Status']
pre_x = dataset.drop('Loan_Status', axis=1)
dm_X = pd.get_dummies(pre_x)
dm_Y = pre_y.map(dict(Y=1, N=0)) # dataset.replace({pre_y: {'Y': 1, 'N': 0}})

dm_X

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
1,1.0,4583,1508.0,128000,360.0,1.0,False,True,False,True,True,False,True,False,True,False,False
2,0.0,3000,0.0,66000,360.0,1.0,False,True,False,True,True,False,False,True,False,False,True
3,0.0,2583,2358.0,120000,360.0,1.0,False,True,False,True,False,True,True,False,False,False,True
4,0.0,6000,0.0,141000,360.0,1.0,False,True,True,False,True,False,True,False,False,False,True
5,2.0,5417,4196.0,267000,360.0,1.0,False,True,False,True,True,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0.0,2900,0.0,71000,360.0,1.0,True,False,True,False,True,False,True,False,True,False,False
610,3.0,4106,0.0,40000,180.0,1.0,False,True,False,True,True,False,True,False,True,False,False
611,1.0,8072,240.0,253000,360.0,1.0,False,True,False,True,True,False,True,False,False,False,True
612,2.0,7583,0.0,187000,360.0,1.0,False,True,False,True,True,False,True,False,False,False,True
613,0.0,4583,0.0,133000,360.0,0.0,True,False,True,False,True,False,False,True,False,True,False

In [11]:
dm_X = dm_X.astype(int)
dm_X

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
1,1,4583,1508,128000,360,1,0,1,0,1,1,0,1,0,1,0,0
2,0,3000,0,66000,360,1,0,1,0,1,1,0,0,1,0,0,1
3,0,2583,2358,120000,360,1,0,1,0,1,0,1,1,0,0,0,1
4,0,6000,0,141000,360,1,0,1,1,0,1,0,1,0,0,0,1
5,2,5417,4196,267000,360,1,0,1,0,1,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,2900,0,71000,360,1,1,0,1,0,1,0,1,0,1,0,0
610,3,4106,0,40000,180,1,0,1,0,1,1,0,1,0,1,0,0
611,1,8072,240,253000,360,1,0,1,0,1,1,0,1,0,0,0,1
612,2,7583,0,187000,360,1,0,1,0,1,1,0,1,0,0,0,1
613,0,4583,0,133000,360,0,1,0,1,0,1,0,0,1,0,1,0

In [12]:
dm_Y

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 480, dtype: int64

In [13]:
smote = SMOTE(sampling_strategy= 'minority', random_state=42)
X1, y = smote.fit_resample(dm_X, dm_Y)
scaler = MinMaxScaler()
X = scaler.fit_transform(X1)

In [14]:
y.value_counts()

Loan_Status
0    332
1    332
Name: count, dtype: int64

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=True)

In [16]:
X.shape, X_train.shape, X_test.shape

((664, 17), (531, 17), (133, 17))

In [17]:
model = Sequential()
model.add(Input(shape=(X_train.shape[1],)))
model.add(Dense(400, activation='relu', kernel_initializer=he_normal()))
model.add(Dense(800, activation='relu', kernel_initializer=he_normal()))
model.add(Dense(50, activation='relu', kernel_initializer=he_normal()))
model.add(Dense(1, activation='sigmoid', kernel_initializer=glorot_normal()))

In [18]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 400)            │         7,200 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 800)            │       320,800 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 50)             │        40,050 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │            51 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 368,101 (1.40 MB)

 Trainable params: 368,101 (1.40 MB)

 Non-trainable params: 0 (0.00 B)

In [19]:
model.compile(
    optimizer='adam',
    loss= 'binary_crossentropy',
    metrics= ['accuracy']
)

In [20]:
model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 9s 118ms/step - accuracy: 0.5574 - loss: 0.7021 - val_accuracy: 0.7757 - val_loss: 0.4578
Epoch 2/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - accuracy: 0.8075 - loss: 0.4322 - val_accuracy: 0.8598 - val_loss: 0.3915
Epoch 3/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 22ms/step - accuracy: 0.8432 - loss: 0.4067 - val_accuracy: 0.8785 - val_loss: 0.3912
Epoch 4/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 32ms/step - accuracy: 0.8252 - loss: 0.3840 - val_accuracy: 0.8785 - val_loss: 0.3949
Epoch 5/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 53ms/step - accuracy: 0.8485 - loss: 0.3643 - val_accuracy: 0.8785 - val_loss: 0.4039
Epoch 6/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 44ms/step - accuracy: 0.8440 - loss: 0.3496 - val_accuracy: 0.8972 - val_loss: 0.3917
Epoch 7/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 2s 127ms/step - accuracy: 0.8719 - loss: 0.3042 - val_accuracy: 0.8598 - val_loss: 0.3994
Epoch 8/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 2s 76ms/step - accuracy: 0.8528 - loss: 0.3332 - val_accuracy: 0.8692 - val_loss: 0.3844
Epoch 9/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 3s 132ms/step - accuracy: 0.8700 - loss: 0.3015 - val_accuracy: 0.8972 - val_loss: 0.3841
Epoch 10/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 35ms/step - accuracy: 0.8933 - loss: 0.2725 - val_accuracy: 0.8411 - val_loss: 0.4239
Epoch 11/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 2s 81ms/step - accuracy: 0.8753 - loss: 0.2964 - val_accuracy: 0.7944 - val_loss: 0.4952
Epoch 12/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 32ms/step - accuracy: 0.8671 - loss: 0.2936 - val_accuracy: 0.8692 - val_loss: 0.4118
Epoch 13/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 49ms/step - accuracy: 0.8508 - loss: 0.3584 - val_accuracy: 0.8785 - val_loss: 0.4072
Epoch 14/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 42ms/step - accuracy: 0.8556 - loss: 0.3342 - val_accuracy: 0.8411 - val_loss: 0.4330
Epoch 15/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 36ms/step - accuracy: 0.8713 - loss: 0.2854 - val_accuracy: 0.8598 - val_loss: 0.4244
Epoch 16/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 31ms/step - accuracy: 0.8585 - loss: 0.2902 - val_accuracy: 0.8411 - val_loss: 0.4182
Epoch 17/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 35ms/step - accuracy: 0.8611 - loss: 0.2995 - val_accuracy: 0.8131 - val_loss: 0.4670
Epoch 18/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 41ms/step - accuracy: 0.8804 - loss: 0.2684 - val_accuracy: 0.7850 - val_loss: 0.5159
Epoch 19/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 34ms/step - accuracy: 0.8603 - loss: 0.2836 - val_accuracy: 0.8131 - val_loss: 0.4552
Epoch 20/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 32ms/step - accuracy: 0.8495 - loss: 0.3090 - val_accuracy: 0.8505 - val_loss: 0.4127
Epoch 21/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 38ms/step - accuracy: 0.8464 - loss: 0.3276 - val_accuracy: 0.8785 - val_loss: 0.4158
Epoch 22/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 47ms/step - accuracy: 0.9025 - loss: 0.2432 - val_accuracy: 0.8318 - val_loss: 0.4422
Epoch 23/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 34ms/step - accuracy: 0.9005 - loss: 0.2309 - val_accuracy: 0.8037 - val_loss: 0.5211
Epoch 24/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 46ms/step - accuracy: 0.8884 - loss: 0.2625 - val_accuracy: 0.8318 - val_loss: 0.4659
Epoch 25/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 35ms/step - accuracy: 0.9023 - loss: 0.2515 - val_accuracy: 0.8411 - val_loss: 0.4412
Epoch 26/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 34ms/step - accuracy: 0.8716 - loss: 0.2647 - val_accuracy: 0.8879 - val_loss: 0.4373
Epoch 27/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 33ms/step - accuracy: 0.8794 - loss: 0.2677 - val_accuracy: 0.8598 - val_loss: 0.4726
Epoch 28/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 44ms/step - accuracy: 0.8988 - loss: 0.2343 - val_accuracy: 0.7664 - val_loss: 0.5761
Epoch 29/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 31ms/step - accuracy: 0.8815 - loss: 0.2640 - val_accuracy: 0.8598 - val_loss: 0.4592
Epoch 30/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 51ms/step - accuracy: 0.8884 - loss: 0.2421 - val_accuracy: 0.8785 - val_loss: 0.4829
Epoch 31/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 41ms/step - accuracy: 0.9192 - loss: 0.2041 - val_accuracy: 0.7570 - val_loss: 0.5642
Epoch 32/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 32ms/step - accuracy: 0.8883 - loss: 0.2388 - val_accuracy: 0.8131 - val_loss: 0.4918
Epoch 33/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 32ms/step - accuracy: 0.9008 - loss: 0.2269 - val_accuracy: 0.8131 - val_loss: 0.4953
Epoch 34/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 42ms/step - accuracy: 0.9012 - loss: 0.2367 - val_accuracy: 0.8598 - val_loss: 0.5062
Epoch 35/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 34ms/step - accuracy: 0.9082 - loss: 0.2080 - val_accuracy: 0.8318 - val_loss: 0.5113
Epoch 36/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 35ms/step - accuracy: 0.9080 - loss: 0.2242 - val_accuracy: 0.7664 - val_loss: 0.5759
Epoch 37/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 34ms/step - accuracy: 0.8943 - loss: 0.2433 - val_accuracy: 0.8224 - val_loss: 0.5513
Epoch 38/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 45ms/step - accuracy: 0.9251 - loss: 0.2024 - val_accuracy: 0.8505 - val_loss: 0.5370
Epoch 39/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 31ms/step - accuracy: 0.8951 - loss: 0.2483 - val_accuracy: 0.8598 - val_loss: 0.5278
Epoch 40/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 43ms/step - accuracy: 0.9074 - loss: 0.2174 - val_accuracy: 0.8224 - val_loss: 0.5659
Epoch 41/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 41ms/step - accuracy: 0.9053 - loss: 0.2178 - val_accuracy: 0.8598 - val_loss: 0.4844
Epoch 42/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 37ms/step - accuracy: 0.9005 - loss: 0.2049 - val_accuracy: 0.8037 - val_loss: 0.6122
Epoch 43/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 40ms/step - accuracy: 0.9168 - loss: 0.2109 - val_accuracy: 0.8411 - val_loss: 0.5597
Epoch 44/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 33ms/step - accuracy: 0.8849 - loss: 0.2471 - val_accuracy: 0.8411 - val_loss: 0.5668
Epoch 45/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 42ms/step - accuracy: 0.8940 - loss: 0.2366 - val_accuracy: 0.8598 - val_loss: 0.5449
Epoch 46/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 42ms/step - accuracy: 0.8964 - loss: 0.2448 - val_accuracy: 0.8505 - val_loss: 0.5955
Epoch 47/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 38ms/step - accuracy: 0.9102 - loss: 0.2093 - val_accuracy: 0.8505 - val_loss: 0.5564
Epoch 48/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 39ms/step - accuracy: 0.8623 - loss: 0.2812 - val_accuracy: 0.8411 - val_loss: 0.5631
Epoch 49/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 36ms/step - accuracy: 0.9329 - loss: 0.1724 - val_accuracy: 0.8318 - val_loss: 0.6206
Epoch 50/50
14/14 ━━━━━━━━━━━━━━━━━━━━ 1s 33ms/step - accuracy: 0.9034 - loss: 0.2080 - val_accuracy: 0.8411 - val_loss: 0.6205

In [21]:
model.evaluate(X_test, y_test)

5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.8071 - loss: 0.6481

[0.8077695369720459, 0.7819548845291138]

In [22]:
X_test[0]

array([0.        , 0.05689549, 0.06894819, 0.20473773, 0.72972973,
       1.        , 0.        , 1.        , 0.        , 1.        ,
       1.        , 0.        , 1.        , 0.        , 0.        ,
       0.        , 1.        ])

In [23]:
y_predict = model.predict(X_test)
print(y_predict.shape)
y_predict

5/5 ━━━━━━━━━━━━━━━━━━━━ 1s 54ms/step
(133, 1)

array([[8.6412650e-01],
       [1.1411426e-03],
       [4.9678406e-01],
       [7.7844048e-01],
       [9.9959952e-01],
       [8.9135760e-01],
       [2.8642505e-02],
       [4.2212778e-01],
       [5.4649281e-05],
       [6.2160158e-01],
       [9.0730488e-01],
       [9.0104860e-01],
       [1.0407141e-01],
       [9.0733975e-01],
       [9.5878899e-01],
       [3.9728925e-06],
       [2.9361650e-01],
       [1.4153614e-05],
       [7.8991449e-01],
       [9.8015028e-01],
       [9.2377114e-01],
       [9.9781132e-01],
       [7.7851260e-01],
       [9.0769601e-01],
       [3.8267254e-07],
       [9.6406281e-01],
       [3.0738835e-08],
       [1.7403845e-01],
       [9.4549227e-01],
       [9.9964052e-01],
       [3.1023901e-03],
       [2.8458388e-05],
       [9.6095409e-11],
       [7.8162181e-01],
       [9.5333028e-01],
       [9.1769028e-01],
       [4.4503078e-01],
       [2.5117950e-07],
       [8.7813002e-01],
       [6.8384094e-09],
       [1.5758500e-05],
       [1.8922167e-02],
       [6.4596713e-01],
       [7.4287689e-01],
       [2.4646625e-01],
       [2.0869872e-04],
       [1.9360823e-13],
       [5.9210646e-01],
       [4.4035646e-03],
       [7.7318895e-01],
       [7.8983301e-01],
       [7.9906812e-07],
       [9.7295415e-01],
       [7.2622387e-04],
       [9.9373674e-01],
       [1.5337657e-05],
       [8.2263219e-01],
       [8.6716366e-01],
       [3.5303671e-08],
       [2.4234296e-06],
       [8.9948112e-01],
       [1.1547391e-09],
       [6.4928085e-01],
       [9.8566532e-01],
       [7.9136521e-01],
       [4.1397013e-07],
       [6.8453538e-01],
       [7.5407255e-01],
       [2.1767820e-01],
       [8.5699403e-01],
       [6.1625278e-01],
       [3.3132884e-01],
       [6.5262371e-05],
       [4.6909832e-09],
       [7.6753932e-01],
       [8.9458567e-01],
       [5.7745510e-04],
       [9.6175027e-01],
       [8.7609975e-10],
       [9.4998878e-01],
       [8.8514340e-01],
       [8.8420963e-01],
       [2.4134955e-01],
       [9.7433382e-01],
       [9.3231744e-01],
       [2.4848884e-01],
       [8.3718956e-01],
       [9.5142120e-01],
       [9.8776555e-01],
       [8.2162131e-08],
       [4.5462451e-03],
       [3.7910729e-06],
       [4.2318530e-02],
       [8.7174641e-07],
       [3.1659850e-01],
       [3.9511393e-12],
       [9.3997031e-01],
       [7.6469404e-01],
       [1.9298703e-09],
       [4.9579617e-06],
       [5.4559660e-01],
       [7.4223280e-01],
       [9.0756553e-01],
       [9.7793800e-01],
       [3.9603643e-02],
       [8.7410033e-01],
       [9.3843716e-01],
       [6.2006735e-04],
       [1.5243052e-05],
       [9.5657897e-01],
       [7.0452341e-03],
       [8.2352751e-01],
       [8.0444336e-01],
       [7.8566581e-01],
       [2.8766334e-07],
       [5.5915082e-01],
       [8.6751235e-01],
       [6.4460449e-02],
       [9.7627205e-01],
       [7.3864289e-06],
       [8.6285919e-01],
       [5.3856399e-09],
       [9.6691114e-01],
       [8.8957086e-04],
       [9.9966633e-01],
       [5.9760308e-01],
       [9.1998601e-01],
       [9.7259056e-07],
       [1.3939577e-09],
       [2.4009976e-09],
       [2.5429405e-04],
       [9.9036592e-01],
       [5.1269740e-07]], dtype=float32)

In [24]:
y_predict_binary = (y_predict >= 0.5).astype(int)
y_predict_binary

array([[1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0]])

In [25]:
model.save('Loan_Model.keras')

In [1]:
import pickle

In [27]:
file_name = 'scaler.pkl'
pickle.dump(scaler, open(file_name, 'wb'))

In [28]:
rows = dm_X.iloc[1]
rows

Dependents                     0
ApplicantIncome             3000
CoapplicantIncome              0
LoanAmount                 66000
Loan_Amount_Term             360
Credit_History                 1
Gender_Female                  0
Gender_Male                    1
Married_No                     0
Married_Yes                    1
Education_Graduate             1
Education_Not Graduate         0
Self_Employed_No               0
Self_Employed_Yes              1
Property_Area_Rural            0
Property_Area_Semiurban        0
Property_Area_Urban            1
Name: 2, dtype: int32

In [29]:
output = pd.DataFrame(dm_X)

output.to_excel('One_Hot_Encoded.xlsx', index=False)

In [2]:
ohe_columns = ['Dependents', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Gender_Female', 
               'Gender_Male', 'Married_No', 'Married_Yes', 'Education_Graduate', 'Education_Not Graduate', 'Self_Employed_No', 
               'Self_Employed_Yes', 'Property_Area_Rural', 'Property_Area_Semiurban', 'Property_Area_Urban']

name = 'One_Hot_Encoded_Columns.pkl'

pickle.dump(ohe_columns, open(name, 'wb'))